<h1>Welcome to Buy Nothing</h1>
<li><%= link_to 'View Items', give_away_items_path %></li>
<li><%= link_to 'Request Item (needs link)', '#' %></li>
<li><%= link_to 'Message Boards (needs link)', '#' %></li>
