<h1>Give Away Items</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td> <%= item.title %></td>
        <td> <%= item.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Post An Item', new_give_away_item_path %>